@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');


body{
    background-color: rgb(47, 47, 47);
}

.texto{
    font-family: 'Ramabhadra', sans-serif;
    text-align: center;
    color: white;
}

.img1{
    position: absolute;
    left: 63%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.img2{
    position: absolute;
    left: 43%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.img3{
    position: absolute;
    left: 23%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

