@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

body{
    background-color: rgb(41, 41, 41);
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 0, 0, 0));
    overflow-x: hidden;
}

.titulo{
    text-align: center;
    text-decoration: none;
    font-family: 'Ramabhadra', sans-serif;
    font-style: normal;
    font-size: 50px;
}

.texto{
    font-family: 'Ramabhadra', sans-serif;
    color: white;
    top:1000px;
    margin-left: 38px;
    font-size: 50px;
    position: absolute;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.63));
}

.texto2{
    font-family: 'Ramabhadra', sans-serif;
    color: white;
    top: 1180px;
    margin-left: 25px;
    width: 750px;
    font-size: 25px;
    position: absolute;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.63));
    z-index: 5;
}

.texto1{
    font-family: 'Ramabhadra', sans-serif; 
    color: white;
    position: absolute;
    margin: auto;
    left: 44%;
    position: absolute;
    filter: drop-shadow( 10px 10px 10px rgba(0, 0, 0, 0.404));
    z-index: 5;
}


.butao {
    right: 47%;
    background-color: #9c0000;
    border: 2px solid rgb(196, 192, 255);
    border-radius: 20px;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 700px;
    filter: drop-shadow(5px 5px 35px rgba(0, 0, 0, 0.712));
}


.imagema{
    width: 101%;
    height: 780px;
    position: absolute;
    object-fit: cover;
    top: -30px;
    left: -7px;
    overflow-x: hidden;
}
.imagemb{
    max-width: 800px;
    height: auto;
    top: 750px;
    position: absolute;
    object-fit: cover;
    right: 0px;
    filter: drop-shadow( 10px 10px 10px rgba(0, 0, 0, 0.404));
    overflow-x: hidden;
}

.imagemc{
    top: 950px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: absolute;
    filter: blur(7px);
    overflow-x: hidden;
}
.container{
    height: 650px;
}

.container1{
    position: relative;
    height: 700px;
}
